@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    /* background-color: #161819; */
}

.fixed{
    z-index: 100;
}

html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #161819;
    overflow: hidden;
}

#video-grid{
    padding: 10px;
    display: grid;
    width: 100%;
    height: 100%;
    grid-gap: 10px;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, 200px);
}

video{
    height: 150px;
    object-fit: cover;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.main__left{
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.main__right{
    position: absolute;
    width: 20%;
    right: -20%;
    height: 100%;
    flex-direction: column;
    background-color: #212327;
    transition: 0.25s;
    z-index: 98;
}

.main__video{
    flex-grow: 1;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.water-mark{
    width: 200px;
    height: 50px;
    background-color:#00b074;
    color: #fff;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-family: 'Fredoka One', cursive;
    border-radius: 10px;
    display: flex;
    opacity: 0.1;
    z-index: 98;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
}

.main__controls{
    background-color: #161819;
    display: flex;
    justify-content: space-between;
}
.main__controls__block{
    display: flex;
}
.main__controls__button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px 7.5px;
}

.main__controls__button:hover{
  background-color: #00b074;
}

span{
    font-size: 0.8em;
}

.fa{
    color: #fff;
    font-size: 24px;
}

.leave{
    background-color: #e02016;
    padding: 4px 5px;
    margin: 10px 7.5px;
    transition: 0.25s;
}

.leave:hover{
    background-color: #e02016;
    transform: scale(1.01);
}

.leave_meeting {
    color: #fff;
    font-weight: 600;
}

/* .main__controls{
    flex: 0.9;
} */

.main__header {
    padding-top: 5px;
    color: #F5F5F5;
    text-align: center;
}

.main__chat_window {
    flex-grow: 1;
    height: 80%;
    overflow-y: auto;
}

.messages{
    color: white;
    list-style: none;
}

.main__message_container {
    padding: 22px 12px;
    display: flex;
}

.main__message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #F5F5F5;
}

#chat_message:focus{
  outline: none;
  word-wrap: break-word;
}

.unmute,.stop{
    color: #e02016;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #212327;
    color: #00b074;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 100;
    left: 50%;
    bottom: 12.5%;
    font-size: 17px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  #snackbar.showState {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
    animation: fadein 0.5s, fadeout 0.5s 1.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 12.5%; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 12.5%; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 12.5%; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 12.5%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

@media only screen and (max-width: 600px) {
   .main__controls__button{
    padding: 5px 5px;
    min-width: 40px;
    margin: 5px 3.75px;
   }
   span{
    font-size: 0.6em;
   }
   .main__right{
       width: 80%;
   }
   #video-grid{
    grid-template-columns: repeat(auto-fit, 150px);
}
  }

  .close{
      width: 24px;
      height: 24px;
      /* background-color: #fff; */
      position: absolute;
      margin: 10px;
      right: 0;
      color: #fff;
      cursor: pointer;
      font-size: 24px;
  }

  .bg-gray-100{
      background-color: #161819 !important;
  }