@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    /* background-color: #161819; */
}

html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
     background-color: #161819;
}

#video-grid{
    padding: 10px;
    display: grid;
    width: 100%;
    height: 100%;
    grid-gap: 10px;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, 200px);
}

video{
    height: 150px;
    object-fit: cover;
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
}

.main{
    height: 100vh;
    display: flex;
}

.main__left{
    flex: 1;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.main__right{
    flex: 0.2;
    display: none;
    flex-direction: column;
    background-color: #212327;
}

.main__video{
    flex-grow: 1;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.water-mark{
    width: 200px;
    height: 50px;
    background-color:#00b074;
    color: #fff;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-family: 'Fredoka One', cursive;
    border-radius: 10px;
    display: flex;
    opacity: 0.1;
    z-index: 99;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
}

.main__controls{
    background-color: #161819;
    display: flex;
    justify-content: space-between;
}
.main__controls__block{
    display: flex;
}
.main__controls__button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px 7.5px;
}

.main__controls__button:hover{
  background-color: #00b074;
}

span{
    font-size: 0.8em;
}

.fa{
    color: #fff;
    font-size: 24px;
}

.leave{
    background-color: #e02016;
    padding: 4px 5px;
    margin: 10px 7.5px;
    transition: 0.25s;
}

.leave:hover{
    background-color: #e02016;
    transform: scale(1.01);
}

.leave_meeting {
    color: #fff;
    font-weight: 600;
}

/* .main__controls{
    flex: 0.9;
} */

.main__header {
    padding-top: 5px;
    color: #F5F5F5;
    text-align: center;
}

.main__chat_window {
    flex-grow: 1;
    overflow-y: auto;
}

.messages{
    color: white;
    list-style: none;
}

.main__message_container {
    padding: 22px 12px;
    display: flex;
}

.main__message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #F5F5F5;
}

#chat_message:focus{
  outline: none;
  word-wrap: break-word;
}

.unmute,.stop{
    color: #e02016;
}
